<h2 style="color: #0E787A;">Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs" style="color: #0E787A;">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email", style: "color: #0E787A;" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", style: "color: #0E787A;"} %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password", style: "color: #0E787A;" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", style: "color: #0E787A;"%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
