
<section id="testimonials">
        <!--heading--->
        <div class="testimonial-heading">
            <span>Feedback</span>
            <h4>form my customers</h4>
        </div>
        <!--testimonials-box-container------>
        <div class="testimonial-box-container">
            <!--BOX-1-------------->
<% @work.reviews.each do |review| %>
            <div class="testimonial-box">
                <!--top------------------------->
                <div class="box-top">
                    <!--profile----->
                    <div class="profile">
                        <!--img---->
                        <%# <div class="profile-img">
                            <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                        </div> %>
                        <!--name-and-username-->
                        <div class="name-user">
                            <strong><%= review.name %></strong>
                            <span><%= review.position %></span>
                        </div>
                    </div>
                    <!--reviews------>
                    <div class="reviews">
                        <%# <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i> %>

                    </div>
                </div>
                <!--Comments---------------------------------------->
                <div class="client-comment">
                    <p><%= review.content %></p>
                </div>
            </div>
        <% end %>

                </div>
            </div>
        </div>
      </section>


<center><%= link_to "Add New Feeback", new_work_review_path(@work), class: "btn btn-blue" %>
<%= link_to "Back to my Homepage", root_path, class:"btn btn-blue" %></center>
