<!--Banner-->
<div class="cover mb-4 d-flex align-items-center justify-content-center ">
    <%= image_tag "profile-jeni.png", class: "avatar profile", alt: "profile pic"%>
  <div class="text-center text-white">
      <p><span data-controller="typed-js"></span></p>
    <h1>HR BUDDY</h1>
  </div>
</div><!--end div Banner-->
<!--Card questions-->
<div class="container" style="margin-top:30px">
  <div class="row justify-content-center">
    <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
      <div class="card-question">
        <div class="card-question-body"><br>
          <h4 class="card-question-title">Want to change your job?</h4><br>
          <div class="card-question-image" style="color:#00426A;">
            <i class="fas fa-bullseye fa-5x"></i>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
      <div class="card-question">
        <div class="card-question-body"><br>
          <h4 class="card-question-title">Having an HR question <br>but have no one to ask?</h4>
          <div class="card-question-image" style="color: #0E787A;">
            <i class="fas fa-chalkboard-teacher fa-5x"></i>
          </div>
          <br>
        </div>
      </div>
    </div>

    <%# <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
      <div class="card-question">
        <div class="card-question-body">
          <h4 class="card-question-title">Worried about the job interview?</h4>
          <div class="card-question-image" style="color: #FAA526;">
            <i class="fas fa-laptop-code fa-5x"></i>
          </div>
          <br>
        </div>
      </div>
    </div> %>
      <%# <div class="row"> %>
    <%# <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
      <div class="card-question">
        <div class="card-question-body">
          <h4 class="card-question-title">Need a professional branding?</h4>
          <div class="card-question-image" style="color: #006E99;">
            <i class="fa-solid fa-user-tie fa-5x"></i>
          </div>
          <br>
        </div>
      </div>
    </div>
    <div class = "col-lg-4 col-sm-4 col-md-4 col-xl-4 col-xs-12">
      <div class="card-question">
        <div class="card-question-body">
          <h4 class="card-question-title">Need advice?</h4>
          <div class="card-question-image" style="color: #7CC4C6;">
            <i class="fa-solid fa-handshake-angle fa-5x"></i>
          </div>
          <br>
        </div>
      </div>
    </div>
    </div> %>
  <div class="row">
    <div class="col-12">
      <div class="title-heading">
          If the answer is YES,  you are at the right place!
          <p style="color: #002E4C;" id="l5">Find out what we can do together</p>
    <center><h5><i class="fa-solid fa-angles-down"></i></h5></center>
        </div>
      </div>
    </div>
  </div>
</div><!--End div Card questions-->


<%# <div class="container">
    <%= image_tag 'why-me.png', class: "img-fluid why", height: "500px", alt: "why-me" %>
<!--en div Why me Canva-->
<!-- Hero Unit -->
<section class="hero-unit">
  <div class="row">
    <div class="large-12 columns">
      <hgroup>
        <center><h1>-Professional advice- </h1></center>
      </hgroup>
      <br>
      <ul class="small-block-grid-2 medium-block-grid-3 flip-cards">

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
          <br>
          <br>
            <center><a href="javascript:void(0);">Want to change your job but don't know where to start?</a></center>
            <center><i class=" fa-solid fa-magnifying-glass card-icon "></i></center>
          </div>
          <div class="panel card-back"  id="picture-card">
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
          <br>
          <br>
            <center><a href="javascript:void(0);">Worried about the job interview?</a></center>
            <center><i class="fa-solid fa-clipboard-question card-icon"></i>
          </div>

          <div class="panel card-back"  id="picture-card2">
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
          <br>
          <br>
            <center><a href="javascript:void(0);">You think you deserve more?</a></center>
            <center><i class="fa-solid fa-euro-sign card-icon"></i></center>
          </div>

          <div class="panel card-back" id="picture-card3">
          </div>
        </li>

        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
          <br>
          <br>
          <center><a href="javascript:void(0);">You've grown out of your current role?</a></center>
          <center><i class="fa fa-users card-icon"></i></center>

          </div>

          <div class="panel card-back" id="picture-card4">
          </div>
        </li>
        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
          <br>
          <br>
            <center><a href="javascript:void(0);">Always dreamt of an international experience?</a></center>
            <center><i class="fa-solid fa-earth-americas card-icon"></i></center>
          </div>

          <div class="panel card-back"id="picture-card5">
          </div>
        </li>


        <li ontouchstart="this.classList.toggle('hover');">
          <div class="large button card-front">
          <br>
          <br>
            <center><a href="javascript:void(0);">Or maybe you need to boost your self-confidence?</a></center>
            <center><i class="fa-solid fa-thumbs-up card-icon"></i></center>
          </div>
          <div class="panel card-back" id="picture-card6">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>


<!--Professional branding-->
<div class="hero-unit">
  <div class="row">
    <div class="large-12 columns">
      <hgroup>
        <center><h1>- Professional branding-</h1></center>
      </hgroup>
      <br>
</div>

<div class="cards-branding" id="services">
  <div class="card-branding">
    <div class="card_img card1">
      </div>
      <h3>-NEW CV-</h3>
        <div class="line">
        <br>
    </div>
  </div>
<div class="card-branding">
    <div class="card_img card2">
    </div>
      <h3>-PORTFOLIO-</h3>
      <div class="line">
    </div>
</div>
  <div class="card-branding">
    <div class="card_img card3">
    </div>
    <h3>-COVER LETTER-</h3>
    <div class="line">
  </div>
</div>
<div class="card-branding">
  <div class="card_img card4">
</div>
    <h3>-LINKEDIN PAGE-</h3>
    <div class="line">
    </div>
    <br>
    </div>
</div><!--end divProfessional branding-->



<!--Why me Canva-->
<div class="container-why-me">
  <header class="primary p-20">
  <div id=container-why>
  <div id=flip>
    <div><div>Why</div></div>
    <div><div>WHY</div></div>
  </div>
  Me?
</div>
    <h3 id="l0">Because...</h3>
<p id="l1">I am half-time recruiter, half-time HR consultant.
<p id="l2">Have been working as an HR for international companies for more than 10 years.</p>
<p id="l3">Living in France or in Bulgaria, I was mostly enjoying the recruitment part, but being an HR also means that I had to manage all staff matters.</p>

<p id="l4">So, I decided that I would like to share  all I have learnt in terms of employee-employer relations, because, just like you, I was an employee. </p>

  </header>
</div>
<section id="testimonials">
        <!--heading--->
        <div class="testimonial-heading">
           <center><h1>- Feedback-</h1></center>
            <h4>form my customers</h4>
        </div>
        <!--testimonials-box-container------>
        <div class="testimonial-box-container">
            <!--BOX-1-------------->
<% @reviews.each do |review| %>
            <div class="testimonial-box">
                <!--top------------------------->
                <div class="box-top">
                    <!--profile----->
                    <div class="profile">
                        <!--img---->
                        <%# <div class="profile-img">
                            <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png" />
                        </div> %>
                        <!--name-and-username-->
                        <div class="name-user">
                            <strong><%= review.name %></strong>
                            <span><%= review.position %></span>
                        </div>
                    </div>
                    <!--reviews------>
                    <div class="reviews">
                        <%# <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i> %>

                    </div>
                </div>
                <!--Comments---------------------------------------->
                <div class="client-comment">
                    <p><%= review.content %></p>
                </div>
            </div>
        <% end %>

                </div>
            </div>
        </div>
      <center> <%= link_to "Add your feedback", works_path(@works), class: "btn btn-blue" %></center>

      </section>

  <div class="container-alert">
  <br>
  <% flash.each do |key, message| %>
    <p class="alert alert-<%= key %>"><%= message %></p>
  <% end %>
</div>
<footer>
<section class="contact-sec sec-pad" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-detail">
          <h1 class="section-title">&nbsp;&nbsp;&nbsp;Contact me</h1>
          <ul class="contact-ul">
          <b><li>Evgenia Manolova </li></b>
        <b><li>HR Consultant</li></b>
            <%# <li><i class="fa fa-location-dot"></i> Paris, France</li>
            <li> %>
              <i class="fa fa-phone"></i>
              <a href="tel:08510005495"><b>  +33 6 74 00 75 07</b></a>
            </li>
            <li>
              <i class="fa-solid fa-envelope"></i>
              <a href="#"><b> evgenia_manolova@yahoo.com</b></a>
            </li>
          </ul>
          <span>
            <a href="https://www.linkedin.com/in/evgeniamanolova/", target="blank" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.viber.com/fr/", target="blank" class="viber"><i class="fa-brands fa-viber"></i></a>
            <a href="https://www.whatsapp.com/?lang=fr", target="blank" class="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
          </span>
        </div>
      </div>

      <div class="col-md-6 ">
    <div class="container contform">
        <%= form_for @contact do |f| %>
          <div class="row formulaire">
            <div class="col-sm-6 formulaire">
            <%= f.label :name %>
            <%= f.text_field  :name, required: true, class:"inptFld", placeholder: "Your Name" %>
            </div>

            <div class="col-sm-6 formulaire">

          <%= f.label :email %>
      <%= f.text_field :email, required: true, class: "inptFld", placeholder: "youremail@gmail.com" %>
            </div>
            <div class="col-12 formulaire">
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "inptFld formulaire-message",
            placeholder: "Dear Evgenia,"%>
            </div>
 <div class= "d-none">
        <%= f.label :nickname %>
        <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
      </div>
    </div>
            <div class="col-12">

          &nbsp; &nbsp; &nbsp;<%= f.submit 'Send Message', class: 'inptBtn' %>
            </div>
          </div>
<% end %>
</div>
<div>

  <%# </div>
    </div>
    </div> %>

<div style="text-align: center; margin-top: 20px;">
      <p> Copyright &copy;2023

        All rights reserved | Evgenia Manolova
      </p>
    </div>
  </div>
</section>
</footer>
